h1{
    background-color: rgb(111, 74, 233);
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.img{
    width: 10px;
    height: auto;
}